<!-- rest of og tags added by me -->
{% if site.meta %}
  {% for meta in site.meta %}
    <meta property="{{ meta.property }}" content="{{ meta.content }}">
  {% endfor %}
{% endif %}
<!-- end -->

<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap Bundle JS (including Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}
{% include head-custom-google-tag-manager.html %}

<!-- You can set your favicon here -->
{% if site.favicon %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
{% endif %}
<!-- end custom head snippets -->